.main-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 60px;
  min-height: 100vh;
  background-color: var(--background);
}

.photo-profile {
  min-width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100px;
}

.title-content {
  font-size: 26px;
  font-weight: 600;
  line-height: 39px;
  color: var(--navy);
}

.subtitle-content {
  color: var(--grey-secondary);
  font-weight: 500;
  font-size: 14px;
}

.nav-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.search-wrapper {
  gap: 30px;
}

.search-bar > input {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 14px;
  padding: 0 20px;
  border-radius: 12px;
}

.btn-setting {
  border: none;
  background-color: var(--white);
  width: 50px;
  height: 50px;
}

.btn-link {
  font-weight: 500;
  font-size: 14px;
  color: var(--blue-primary);
  text-decoration: none !important;
}

.title-section-content {
  font-weight: 600;
  color: var(--navy);
}


.label-mode {
  color: var(--grey-primary);
}

.toggle-theme {
  opacity: 0;
  position: absolute;
}

.label-toggle {
  width: 60px;
  height: 34px;
  background-color: #e4e4e4;
  display: flex;
  border-radius: 50px;
  padding: 4px;
  position: relative;
}

.label-toggle::before {
  content: '';
  aspect-ratio: 1/1;
  height: calc(100% - 8px);
  background-color: var(--white);
  position: absolute;
  border-radius: 20px;
  transition: transform 0.2s linear;
}

.toggle-theme:checked + .label-toggle::before {
  transform: translateX(100%);
}

.ic-theme {
  z-index: 2;
}